{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% load like %}
{% load is_mp4 %}
{% load  saved %}
{% block content %}


    <!-- START APP(LEFT) -->
    <div class="app">
        <div class="elements">
            <div class="story">
                {% for history in histories %}
                <div class="my">
                    <a href="{% url 'hisrtory-detail' history.id %}" style="text-decoration: none">
                    <img src="{{ history.author.image.url }}" style="border-radius: 100%;" alt="">
                    {% if user == history.author %}
                        <p>my story</p>
                    {% else %}
                        <p>{{ history.author }}</p>
                    {% endif %}
                    </a>
                </div>
                {% endfor %}
{#                <img class="btn" src="{% static '/assets/storys/Story-Button.svg' %}" alt="">#}
            </div>
            {% for post in posts %}
                <div class="info">
                    <div class="foto">
                        <img src="{{ post.author.image.url }}" style="border-radius: 50%; width: 15%" alt="">
                        <a href="{% url 'user-posts' post.author.username %}"><p>{{ post.author }}</p></a>
                    </div>
                    <div class="more"><img src="{% static '/assets/Icons/More.svg' %}" alt=""></div>
                </div>
                {% for media in  post.medias.all %}
                    {% if media.file|check_is_mp4 %}
                        <div class="post" >
                            <video controls style="width: 48%">
                                <source src="{{ media.file.url }}" type="video/mp4">
                            </video>
                        </div>
                    {% else %}
                        <div class="post">
                            <img src="{{ media.file.url }}" style="width: 48%" alt="">
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="footer">
                    <div class="icons">
                        <div class="leftnav">
                            <form action="{% url 'press-like' post.id %}">
                                <button type="submit" {% if post|check_like:user %}class ="press-like" {% endif %}>
                                    <img src="{% static '/assets/Icons/Menu-Button-Item.svg' %}" alt="">
                                </button>
                            </form>
                            <a href="{% url 'post-detail' post.id %}">
                                <img src="{% static '/assets/Icons/Comment.svg' %}" alt="">
                            </a>
                            <img src="{% static '/assets/Icons/SharePosts.svg' %}" alt="">
                        </div>
                        <div>
                            <a href="{% url 'post-save' post.id %}">
                                <img src="{% static '/assets/Icons/Save.svg' %}" {% if post|check_post_saved:user %} style="background-color: black" {% endif %} alt="">
                            </a>
                        </div>
                    </div>
                    <div class="likeinfo">
                        <p>{{ post.like_count }} Likes</p>
                    </div>
                    <div class="comments">
                        <div class="topcom">
                            <strong>{{ post.author }} </strong>
                            <p>{{ post.title }}</p>
                            <span>...more</span>
                        </div>
                        <div class="bottomcom"><span><a href="{% url 'post-detail' post.id %}">View all</a> {{ post.comment_count }} comments</span></div>
                    </div>
                    <div class="time"><span>{{ post.created_at|timesince }}  ago </span></div>
                    <form action="{% url 'add-comment' post.id %}" enctype="multipart/form-data" , method="post">
                        {% csrf_token %}
                        <div class="addcomment">
                            <div class="emoji">
                                <img src="{% static '/assets/Icons/Emoji.svg' %}" alt="">
                                <input type="text" placeholder="Add a comment..." , name="comment">
                            </div>
                            <button class="txt button" type="submit">post</button>
                        </div>
                    </form>

                </div>

            {% endfor %}
        </div>
        <!-- FINISH APP(LEFT) -->

        <!-- START RIGHT BOX -->
        <div class="secondary">
            <div class="myPr">
                <img src="{{ user.image.url }}" style="border-radius: 50%; width: 15%" alt="">
                <div class="name">
                    <p>{{ user }}</p>
                    <span>{{ user.profile.first_name }} {{ user.profile.last_name }} </span>
                </div>
                <p class="blue">Switch</p>
            </div>
            <div class="suggestions">
                <span>Suggestions For You</span>
                <p>See All</p>
            </div>
            {% for sug in suggestion %}
                <div class="follow">
                    <img src="{{ sug.image.url }}" style="border-radius: 50%; width: 15%" alt="">
                    <div class="texx">
                        <a id="text-decor-none" href="{% url 'user-posts' sug.username  %}">{{ sug.username }}</a>
                        <span>Followed by {{ sug.followers.first}}</span>

                    </div>
                    <form method="POST" action="{% url 'follow' sug.id %}">
                      {% csrf_token %}
                      <button type="submit" class="blue">Follow</button>
                        </form>
                    <form method="POST" action="{% url 'unfollow' sug.id %}">
                      {% csrf_token %}
                      <button type="submit" class="blue">UnFollow</button>
                        </form>


                </div>
            {% endfor %}

            <div class="footerSecondary">
                <div>
                    <a href="">About</a>
                    <a href="">Press</a>
                    <a href="">API</a>
                    <a href="">Jobs</a>
                    <a href="">Privacy</a>
                    <a href="">Terms</a>
                    <a href="">Locations</a>
                </div>
                <div>
                    <a href="">Top Accounts</a>
                    <a href="">Hashtags</a>
                    <a href="">Language</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}