{% load static %}
{% block style %}
    <link rel="stylesheet" href="{%  static 'myprofile.css' %}"">
{% endblock %}
{% block content %}
        <div class="content">
            <div class="followers">
                <img src="{% static '/assets/Profile-Pic-S.svg' %}" alt="">
                <div class="text">
                    <div class="first">
                        <p>{{user.username}}</p>
                        <button>Edit Profile</button>
                        <img src="{% static '/assets/Icons/Options.svg' %}" alt="">
                    </div>
                    <div class="second">
                        <p>{{post_count}} posts</p>
                        <p>{{followers_count}} followers</p>
                        <p>{{followings_count}} following </p>
                    </div>
                    <div class="third">
                        <p>{{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="border2"></div>

        <div class="publick">
            <div class="toggle">
                <div class="elements">
                    <img src="{% static '/assets/Icons/Posts.svg' %}" alt="">
                    <p>POSTS</p>
                </div>
                <div class="elements">
                    <img src="{% static '/assets/Icons/Save.svg' %}" alt="">
                    <span>SAVED</span>
                </div>
                <div class="elements">
                    <img src="{% static '/assets/Icons/Tagged.svg' %}" alt="">
                    <span>TAGGED</span>
                </div>
            </div>
            
            <div class="box">
                <div class="row">
                    {% for post in user_posts %}
                    <div class="col">
                        {% for media in  post.medias.all  %}
                    <div class="post">
                        <img src="{{media.file.url}}" alt="">
                    </div>
                {% endfor %}
                    </div>
                    {% endfor %}
<!--                <img src="{% static '/assets/image.svg' %}" alt="">-->
                <div class="info">
                    <p>Start capturing and sharing your moments.</p>
                    <span>Get the app to share your first photo or video.</span>
                    <div class="row">
                        <img src="{% static '/assets/Banned.svg' %}" alt="">
                        <img src="{% static '/assets/Banned2.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}