{% extends 'base.html' %}
{% load static%}
{% load get_notification %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}
  <h1>Notifications</h1>
  {% if notifications %}
    <ul>
    {% for notification in notifications %}
      <li{% if notification.is_seen %} class="seen"{% endif %}>
          <a href="{% url 'profile' %}">{{ notification.user }}</a> {{ notification.type|get_value }}ed  your post {{ notification.created_at|timesince }} ago
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No notifications to display.</p>
  {% endif %}
{% endblock %}
