{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts.css' %}">
    <title>Posts</title>
</head>

<body>
    <!-- START HEADER -->
    <header>
        <div class="logo"><img src="{% static '/assets/Icons/Logo.svg' %}" alt=""></div>
        <div class="search"><input type="search" placeholder="search"></div>
        <div class="menu">
            <img src="{% static '/assets/Icons/Home-fill.svg' %}" alt="">
            <img src="{% static '/assets/Icons/Messenger.svg' %}" alt="">
            <img src="{% static '/assets/Icons/NewPosts.svg' %}" alt="">
            <img src="{% static '/assets/Icons/FindPeople.svg' %}" alt="">
            <img src="{% static '/assets/Icons/Menu-Button-Item.svg' %}" alt="">
            <img src="{% static '/assets/secondary/Profile-Pic-S.svg' %}" alt="">
        </div>
    </header>

    <!-- FINISH HEADER -->

    <div class="border"></div>

    <!-- START CONTENT -->
    <div class="content">
        <div class="first">
            <div class="left">
                <img src="{% static '/assets/Explore/Small-Post-1.svg' %}" alt="">
                <img src="{% static '/assets/Explore/Small-Post-2.svg' %}" alt="">
            </div>
            <div>
                <img src="{% static '/assets/Explore/Big-Post.svg' %}" alt="">
            </div>
        </div>
        <div class="second">
            <img src="{% static '/assets/Explore/Small-Post-3.svg' %}" alt="">
            <img src="{% static '/assets/Explore/Small-Post-4.svg' %}" alt="">
            <img src="{% static '/assets/Explore/Small-Post.svg' %}" alt="">
        </div>

    </div>
    <!-- FINISH CONTENT -->
</body>

</html>