{% extends 'base.html' %}
{% load static %}
{% load is_mp4 %}
{% block style %}
    <link rel="stylesheet" href="{% static 'posts.css' %}">
{% endblock %}
{% block content %}

    <div class="content">
        <div class="first">
             {% for post in posts %}
                {% for media in post.medias.all %}

                          <div class="left">
                                <a href="{% url 'post-detail' post.id %}"> {{ post.title }}</a>
                            <div class="post" >
                            {% if media.file|check_is_mp4 %}
                                    <video controls style="width: 60%">
                                        <source src="{{ media.file.url }}" type="video/mp4">
                                    </video>

                            {% else %}

                                    <img src="{{media.file.url}}" alt="picture not found">

                            {% endif %}
                            </div>

                         </div>
                {% endfor %}

            {% endfor %}


        </div>
    </div>
{% endblock %}