{% load static %}
{% load is_mp4 %}
{% block style %}
    <link rel="stylesheet" href="{%  static 'myprofile.css' %}">
{% endblock %}
{% block content %}
        <div class="content">
            <div class="followers">
                <img src="{{ user.image.url }}" style="border-radius: 50%" alt="">
                <div class="text">
                    <div class="first">
                        <p>{{user.username}}</p>
                        <button>Edit Profile</button>
                        <a href="{% url 'home' %}">
                        <img src="{% static '/assets/Icons/Options.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="second">
                        <p>{{post_count}} posts</p>
                        <p>{{followers_count}} followers</p>
                        <p>{{followings_count}} following </p>
                    </div>
                    <div class="third">
                        <p>{{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="border2"></div>

        <div class="publick">
            <div class="toggle">
                <div class="elements">
                    <a href="{% url 'profile' %}">
                    <img src="{% static '/assets/Icons/Posts.svg' %}" alt="">
                    </a>
                    <p>POSTS</p>
                </div>
                <div class="elements">
                    <img src="{% static '/assets/Icons/Save.svg' %}" alt="">
                    <span><u>SAVED</u></span>
                </div>
                <div class="elements">
                    <img src="{% static '/assets/Icons/Tagged.svg' %}" alt="">
                    <span>TAGGED</span>
                </div>
            </div>
        </div>

        <div class="box">
                <div class="row">
                    {% for save in saved %}
                        <div class="col">
                            {% for media in  save.post.medias.all  %}
                                {% if media.file|check_is_mp4 %}
                                    <div class="post" >
                                        <video controls >
                                            <source src="{{ media.file.url }}" type="video/mp4" width="25%">
                                        </video>
                                    </div>
                                {% else %}
                                    </div>
                                        <img src="{{ media.file.url }}" style="width: 48%" alt="">

                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
<!--                <img src="{% static '/assets/image.svg' %}" alt="">-->

            </div>
        </div>
{% endblock %}